/* universal selector  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes the background color around the main section, aside, and footer */
body {
    background-color: #d9dcd6;
}
/* changes the style of Horiseon title along with the nav */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changes the style of the horiseon title and nav to be inlineblock and changes the font size */
.header h1{
    display: inline-block;
    font-size: 48px;
}

/* changes the font color */
.header h1 .seo {
    color: #d9dcd6;
}
/* more stylistic modifications to the header and nav as well as positioning */
.header nav  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* makes the nav list not have an icon next to the list items */
.header ul {
    list-style-type: none;
}
/* changes site title and list to be inline with each other */
.header ul li {
    display: inline;
    margin-left: 25px;
}

/* text color for the nav */
a {
    color: #ffffff;
    text-decoration: none;
}
/* font size for the paragraph */
p {
    font-size: 16px;
}

/* the positioning of the big main figure on the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* puts the img on the left side of the section */
.float-left {
    float: left;
    margin-right: 25px;
}
/* puts the img on the right side of the section */
.float-right {
    float: right;
    margin-left: 25px;
}
/* styles the main section to take up most of the screen */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* styling for the aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* all benefits for styling the side ~ lead for lead generation ~ brand for brand awareness ~ cost for cost management */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styling for the first section in the main section */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styling for the second section in the main section */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styling for the third section in the main section */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* style changes to the imgs in each of the sections in the main section */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* style changes to the titles of each of the sections within the main section with h2 tag */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* style changes for the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
